.center {
    display: block;
    justify-content: center;
}

body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    font: 1.1rem 'Courier New', Courier, monospace;

    background: linear-gradient(0deg,rgba(138, 159, 255, 1) 0%, rgba(218, 191, 255, 1) 20%, rgba(255, 255, 255, 1) 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    body {
        width: 95%;
    }
}

@media (max-width: 1024px) {
    body {
        width: 90%;
    }
}

address ul {
    list-style: none inside;
    padding-left: 0;
}

nav ul {
    list-style: none inside;
    padding-left: 0;
}

nav ul > li {
    display: inline;
    font-size: large;
}

li + li {
    margin-top: 5px;
}

main {
    background-color: rgba(255, 255, 255, 50%);

    border-radius: 7px;
    padding: 3%;
}

main p {
    line-height: 20px;
}

.skill-grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    column-gap: 10%;
    max-width: fit-content;
}

